<html>
    <head>
        {% if title %}
        <title>{{ title }} - 微博</title>
        {% else %}
        <title>微博</title>
        {% endif %}
    </head>
    <body>
        <div>
          微博:
          <a href="{{ url_for('index') }}">发表</a>
          {% if current_user.is_anonymous %}
          <a href="{{ url_for('login') }}">登录</a>
          {% else %}
          <a href="{{ url_for('user', username=current_user.username) }}">主页</a>
          <a href="{{ url_for('logout') }}">退出登录</a>
          <a href="{{ url_for('explore') }}">热点</a>
          {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>